# 3. Data Types

Data Type represents the type of data present inside a variable.

Python contains the following inbuilt data types:

1. Numbers

2. Strings

3. Lists 

4. Tuples
5. Sets

5. Dictionaries

### 3.1 Numbers

There are four numeric Python data types.

#### a. int
int stands for integer. This Data Type holds signed integers. 

Use the type() function to find which class it belongs to.

In [1]:
a = -27
type(a)

int

### b. float
This Data Type holds floating-point real values. 

An int can only store the number 3, but float can store 3.25 if you want.

In [2]:
a = 3.0
type(a)

float

### c. complex
This Data type holds a complex number. 

A complex number looks like this: a+bj Here, a and b are the real parts of the number, and j is imaginary.

In [3]:
a = 2+3j
type(a)

complex

### d. bool
A Boolean value can be True or False.

In [4]:
a = 2 > 1
type (a)

bool

### 3.2 Strings 
A string is a sequence of characters. 

Python does not have a char data type, unlike C++ or Java. 

You can delimit a string using single quotes or double-quotes.

In [5]:
city="Pune"
city

'pune'

In [6]:
city='Pune'
city

'Pune'

#### a. Spanning a String Across Lines
To span a string across multiple lines, you can use triple quotes.

In [12]:
variable="""If
only"""
variable

'If\nonly'

In [13]:
print(variable)

If
only

#### b. Displaying Part of a String
You can display a character from a string using its index.
Remember, indexing starts with 0.

In [14]:
word = 'python'
word[2]

't'

In [15]:
word[1:4]

'yth'

#### c. String Formatters
String formatters allow us to print characters and values at once. You can use the % operator.

In [16]:
x = 5;
printer= "Dell"
print("I just printed %s pages to the printer %s" % (x, printer))

I just printed 5 pages to the printer Dell

OR you can use the format method.

In [18]:
print("I just printed {0} pages to the printer {1}".format(x, printer))
print("I just printed {x} pages to the printer {printer}".format(x=7, printer="Dell"))

I just printed 5 pages to the printer Dell
I just printed 7 pages to the printer Dell

OR use f-strings.

In [19]:
print(f"I just printed {x} pages to the printer {printer}")

I just printed 5 pages to the printer Dell

#### d. String Concatenation
Concatenate(join) strings.
Cannot concatenate valuse of different types.

In [20]:
a='10'
print(a+a)

1010

In [21]:
print('10'+10)

TypeError: can only concatenate str (not "int") to str

### 3.3 Lists [refer notebook 4]
### 3.4 Tuples [refer notebook 5]
### 3.5 Sets [refer notebook 6]

### 3.6. Dictionaries
A dictionary holds key-value pairs. 

Declare it in curly braces, with pairs separated by commas. Separate keys and values by a colon(:).

In [23]:
person= {'city':'Pune', 'age':22}
person

{'city': 'Pune', 'age': 22}

In [24]:
type(person)

dict

#### a. Accessing a Value
To access a value, mention the key in square brackets.

In [25]:
person['city']

'Pune'

#### b. Reassigning Elements
Reassign a value to a key.

In [26]:
person['age']= 30
person['age']

30

In [27]:
person['city']= 'Mumbai'
person['city']

'Mumbai'

#### c. List of Keys
Use the keys() function to get a list of keys in the dictionary.

In [28]:
person.keys()

dict_keys(['city', 'age'])