# 4. List

A list is a collection of values. Remember, it may contain different types of values.

To define a list, you must put values separated with commas in square brackets. You don’t need to declare a type for a list either.

In [1]:
days = ['Monday', 'Tuesday', 3, 4, 5]
days

['Monday', 'Tuesday', 3, 4, 5]

In [6]:
names = ['Saloni', 'Nupur', 'Maithili']
age= [22, 18, 17]
output = [names, age]

In [7]:
output

[['Saloni', 'Nupur', 'Maithili'], [22, 18, 17]]

### 4.1 Slicing a List

In [8]:
days[1:3]

['Tuesday', 3]

In [9]:
age[:1]

[22]

### 4.2 Reassigning Elements of a List

A list is mutable. This means that you can reassign elements later on.

In [10]:
days[2]= 'Wednesday'
days

['Monday', 'Tuesday', 'Wednesday', 4, 5]

### 4.3 Multidimensional Lists

A list may have more than one dimension.

In [13]:
grocery_list = [['caramel', 'Jelly'], ['onions', 'potatoes'], ['oil', 'salt']]
grocery_list

[['caramel', 'Jelly'], ['onions', 'potatoes'], ['oil', 'salt']]

In [14]:
a = [[[1, 2], [3, 4], 5], [6, 7]]
a

[[[1, 2], [3, 4], 5], [6, 7]]

In [15]:
a [0][1][1]    # to access element 4

4

In [16]:
a [0][0][1]    # to access the element 2

2

### 4.4 Concatenation of Python List

In [17]:
a, b = [5, 6, 7], [8, 9, 7]
a+b

[5, 6, 7, 8, 9, 7]

### 4.5 List Operations

#### a. Multiplication
This is an arithmetic operation. Multiplying a Python list by an integer makes copies of its items that a number of times while preserving the order.

In [18]:
a *=3
a

[5, 6, 7, 5, 6, 7, 5, 6, 7]

In [19]:
a *= 3.0      #can't multiply it by a float

TypeError: can't multiply sequence by non-int of type 'float'

#### b. Membership
The ‘in’ and ‘not in’ operators

In [20]:
6 in a

True

In [21]:
1 in a

False

In [22]:
2 not in a

True

### 4.6 List Comprehension

You can create a new list just like you would do in mathematics. To do so, type an expression followed by a for statement, all inside square brackets. You may assign it to a variable. 

Make a list for all even numbers from 1 to 20.

In [23]:
even = [2*i for i in range(1, 11)]
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Add an if-statement to filter out items. 

If we want to change this list to hold only those items from 1 to 20 that are even and are divisible by 3.

In [24]:
even = [2*i for i in range(1, 11) if i%3==0]
even

[6, 12, 18]

### 4.7 Built-in List Funtions

#### a. len() 

Calculates length of the list.

In [25]:
len(even)

3

#### b. max()

It returns the item from the list with the highest value.

In [26]:
max(even)

18

In [27]:
max(['1', '2', '3'])    #if all items in list are string, it will compare

'3'

In [29]:
max(['saloni', 'nupurr', '3'])

'saloni'

In [30]:
max([2, '1', '5'])     #fails when some are numeric and some are string

TypeError: '>' not supported between instances of 'str' and 'int'

#### c. min()

It returns the item from the list with the lowest value.

In [61]:
min(even)

6

#### d. sum()

It returns the sum of all elements in the list.

In [62]:
sum(even)

36

In [33]:
sum([2.2, 5.6, 7.9])

15.7

#### e. sorted()
It returns a sorted version of the list, but does not change the original one.

In [34]:
a=[5, 2, 8]
sorted(a)

[2, 5, 8]

In [35]:
sorted(['hello', 'hell', 'Hello'])      #H has an ASCII value of 72, it appears first

['Hello', 'hell', 'hello']

#### f. list()
It converts a different data type into a list.

In [36]:
list("xyz")

['x', 'y', 'z']

In [38]:
list(2)       #It can’t convert a single int into a list, though, it only converts iterables

TypeError: 'int' object is not iterable

#### g. any()
It returns True if even one item in the list has a True value.

In [39]:
any(['', '1', ''])

True

In [40]:
any([])

False

#### h. all()
It returns True if all item in the list has a True value.

In [41]:
all(['','', '1'])

False

In [42]:
all([])

True

### 4.8 Built-in Methods 
While a function is what you can apply on a construct and get a result, a method is what you can do to it and change it. 

To call a method on a construct, you use the dot-operator(.)

#### a. append()
It adds an item to the end of the list.

In [46]:
a= [2, 3, 1]
a

[2, 3, 1]

In [47]:
a.append(4)
a

[2, 3, 1, 4]

#### b. insert()
It inserts an item at a specified position.

In [48]:
a.insert(3, 5)    #insert element 5 at index 3
a

[2, 3, 1, 5, 4]

#### c. remove()
It removes the first instance of an item from the list.

In [49]:
a = [2, 1, 3, 4, 2, 5]
a.remove(2)              #there were two 2s, but it removed only the first one.
a

[1, 3, 4, 2, 5]

#### d. pop()
It removes the element at the specified index, and prints it to the screen.

In [50]:
a.pop(3)

2

In [51]:
a

[1, 3, 4, 5]

#### e. clear()
It empties the list.

In [53]:
a.clear()

In [54]:
a

[]

In [55]:
bool(a)     #it now has a False value

False

#### f. index()
It returns the first matching index of the item specified.

In [56]:
a=[1, 4, 6, 2]
a.index(6)

2

#### g. count()
It returns the count of the item specified.

In [57]:
a=[1, 4, 6, 2, 2, 4, 2]
a.count(2)

3

#### h. sort()
It sorts the list in an ascending order.

In [58]:
a.sort()

In [59]:
a

[1, 2, 2, 2, 4, 4, 6]

#### i. reverse()
It reverses the order of elements in the lists.

In [60]:
a.reverse()
a

[6, 4, 4, 2, 2, 2, 1]