# 5. Tuple

A tuple is like a list. You declare it using parentheses instead.

It can hold a sequence of items. The difference is that it is immutable.

In [1]:
subjects =('Maths', 'Science', 'English')
subjects

('Maths', 'Science', 'English')

In [2]:
type(subjects)

tuple

### 5.1 Creating a tuple with a single item

In [3]:
a = (1)
type(a)         #the type() method supposed to return class'tuple'

int

In [4]:
a = (1,)       #add comma after the item
type(a)

tuple

In [5]:
a = 1,        #tuple packing
type(a)

tuple

### 5.2 Accessing the tuple

In [6]:
subjects

('Maths', 'Science', 'English')

In [7]:
subjects[1]

'Science'

In [8]:
percentages=(85, 89, 93, 75, 96)
percentages

(85, 89, 93, 75, 96)

In [13]:
percentages[3]

75

### 5.3 Slicing a Tuple

Using the slicing operator [] we can part (slice) of a tuple.

In [9]:
percentages[2:4]

(93, 75)

In [10]:
percentages[:4]

(85, 89, 93, 75)

In [11]:
percentages[2:2]

()

In [14]:
percentages[:-2]

(85, 89, 93)

In [15]:
percentages[-2:]

(75, 96)

In [16]:
percentages[2:-2]

(93,)

In [18]:
percentages[-2:2]

()

In [19]:
percentages[:]     #prints the whole tuple

(85, 89, 93, 75, 96)

### 5.4 Deleting a Tuple

Python tuple is immutable. Once declared, you can’t change its size or elements.

This also means that you can’t delete just a part of it. You must delete an entire tuple, if you may.

In [21]:
del percentages[1:3]

TypeError: 'tuple' object does not support item deletion

In [23]:
del percentages
percentages        # tuple has successfully been deleted.

NameError: name 'percentages' is not defined

### 5.5 Reassigning Tuples

Tuple with a list as an item in it.

In [24]:
my_tuple= (1,2,3,[4,5])
my_tuple[3]=6

TypeError: 'tuple' object does not support item assignment

Failed. Now how about changing an element from the same list[]?

while tuples are immutable, a mutable item that it holds may be reassigned.

In [25]:
my_tuple [3][0] = 6
my_tuple

(1, 2, 3, [6, 5])

### 5.6 Tuple Functions

A lot of functions that work on lists work on tuples too. A function applies on a construct and returns a result. It does not modify the construct.

#### a. len() 

Calculates length of the tuple.

In [26]:
my_tuple

(1, 2, 3, [6, 5])

In [28]:
len(my_tuple)      # returns 4, not 5, because the list counts as 1.

4

#### b. max()
It returns the item from the tuple with the highest value.

We can’t apply this function on the tuple my_tuple, because ints cannot be compared to a list. 

So let’s take yet another tuple in Python.

In [30]:
a = (1, 5, 9, 7, 6, 2)
max(a)

9

In [35]:
max(('hi', 'Hi', 'Hello'))  #‘hi’ is the greatest out of these, because h has the highest ASCII value among h and H

'hi'

In [36]:
max(('Hi', 9))     #can’t compare an int and a string

TypeError: '>' not supported between instances of 'int' and 'str'

#### c. min()
It returns the item from the tuple with the lowest value.

In [37]:
min(a)

1

#### d. sum()

It returns the sum of all elements in the tuple.

In [38]:
sum(a)

30

#### e. sorted()
The sorting is in ascending order, and it doesn’t modify the original tuple.

In [39]:
sorted(a)

[1, 2, 5, 6, 7, 9]

#### f. tuple()
This function converts another construct into a Python tuple.

In [40]:
list1=[1,2,3]
tuple(list1)

(1, 2, 3)

In [41]:
string1='string'
tuple(string1)

('s', 't', 'r', 'i', 'n', 'g')

In [43]:
set1={2, 1, 3}
tuple(set1)

(1, 2, 3)

#### g. any()
If even one item in the tuple has a Boolean value of True, then this function returns True. Otherwise, it returns False.

In [44]:
any(('', '0', ''))

True

In [45]:
any(('', 0, ''))  #The string ‘0’ does have a Boolean value of True. If it was rather the integer 0, it would’ve returned False.

False

#### h. all()
Unlike any(), all() returns True only if all items have a Boolean value of True. Otherwise, it returns False.

In [48]:
all(('1', 1, True,''))

False

### 5.7 Tuple Methods

A method is a sequence of instructions to perform on something. 

Unlike a function, it does modify the construct on which it is called. 

You call a method using the dot operator in python.

#### a. index()
This method takes one argument and returns the index of the first appearance of an item in a tuple.

In [49]:
a = (1,2,3,2,4,5,2)
a.index(2)

1

#### b. count()
This method takes one argument and returns the number of times an item appears in the tuple.

In [50]:
a.count(2)

3

### 5.8 Tuple Operations

#### a. Membership
The ‘in’ and ‘not in’ operators on items. This tells whether they belong to the tuple.

In [51]:
'a' in tuple ("string")

False

In [52]:
'x' not in tuple("string")

True

#### b. Concatenation
Concatenation is the act of joining. Joining two tuples using the concatenation operator ‘+’.

Other arithmetic operations do not apply on a tuple.

In [53]:
(1, 2, 3)+(4, 5, 6)

(1, 2, 3, 4, 5, 6)

#### c. Logical
All the logical operators (like >,>=,..) can be applied on a tuple.

In [54]:
(1, 2, 3)>(4, 5, 6)

False

In [58]:
(5, )> (2, 3)

True

In [59]:
(1, 2)==('1','2')

False

#### d. Identity
The ‘is’ and ‘is not’ operators

In [61]:
a = (1,2)
(1,2) is a     #two tuples or lists do not have the same identity. 
               #In other words, they are two different tuples or lists. As a result, it returns False.

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\DELL\AppData\Local\Temp/ipykernel_15860/733585488.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  (1,2) is a     #two tuples or lists do not have the same identity.

False

### 5.9 Iterating on Tuple
Iterate on a Python tuple using a for loop.

In [63]:
for i in (1, 2, 3):
    print (i)

1
2
3

### 5.10 Nested Tuples

In [66]:
a = ((1, 2, 3),(4, (5, 6)))
a[1][1][1]                   #access the item 6

6

Python tuple may also contain other constructs, especially, lists. 

After all, it is a collection of items, and items can be anything.

In [70]:
b = (1, 2, [3, 4])
b[2][1]                      #access the item 4

4